body {
  background-color: #f2f2f2;
}

* {
  font-family: "Lato", "Helvetica Neue", sans-serif;
}

.btn-primary {
  background-color: #ff3366;
  border-color: #ff3366;
  color: white;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:disabled {
  background-color: #fc285d !important;
  color: white;
}
